* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

header {
    border: 10px black;
    background-color:rgb(232, 229, 229);
    width: 70dvw;
    height: 12dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.secao-usuario{
    background-color:  #1B3C29;
    width: 12dvw;
    height: 8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1dvw;
    color: #fff;
}

.img-usuario{
    width: 50px;
    border-radius: 30px;
}

button{
    background-color: #fff;
    border: none;
    height: 2.5dvh;
    width: 4dvw;
    border-radius: 5px;
}

.secao-empresa{
    width: 12dvw;
    height: 8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1dvw;
    color: #000000;
}

.secao-login{
    background-color:  #1B3C29;
    width: 12dvw;
    height: 8dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1dvw;
    color: #fff;
}